{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Person List</h1>
    {% if people|length > 0 %}
    <p class="count">
        Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
    {% elseif  q %}
        <p>Your search for <i>{{ q }}</i> returned zero results.</p>
    </p>
    {% endif %}
 {% endblock %} 

{% block body %}

    <form method="get" class="form-horizontal">
        <fieldset>
            <legend>Name search</legend>
            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Name contains</label>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class='glyphicon glyphicon-search'></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
        
    {% if people|length > 0 %}
    {{ include('AppBundle:Person:table.html.twig') }}
        
    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>
    {% endif %}

{% endblock %}
