{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Person List</h1>
    <p class="count">
        Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('person_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('person_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
            <a href="{{ path('person_fulltext') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Fulltext
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Title</th>
                <th>Gender</th>
                <th>Dob</th>
                <th>Dod</th>
                <th>Checked</th>
                <th>Finalcheck</th>            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>
                    <a href="{{ path('person_show', { 'id': person.id }) }}">
                        {{ person.lastName }}
                    </a>
                </td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.title }}</td>
                <td>{{ person.gender }}</td>
                <td>{{ person.dob }}</td>
                <td>{{ person.dod }}</td>
                <td>{% if person.checked %}Yes{% else %}No{% endif %}</td>
                <td>{% if person.finalcheck %}Yes{% else %}No{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>

{% endblock %}
