{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Person List</h1>
    <p class="count">
        Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a class="btn btn-primary collapsed" role="button" data-toggle="collapse" href="#options" aria-expanded="false" aria-controls="collapseExample">Search</a>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('person_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>
    <div id="options" class="collapse">
        {{ include('AppBundle:partials:jump.html.twig', {'route_name': 'person_jump'}) }}
        {{ include('AppBundle:partials:quick-search.html.twig', {'quick_route': 'person_quick_search', 'full_route': 'person_search'}) }} 
    </div>

    {{ include('AppBundle:person:table.html.twig') }}

    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>

{% endblock %}
