{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Search People</h1>
    {% if people|length %}
        <p class="count">
            Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
        </p>
    {% endif %}
{% endblock %}

{% block body %}

    {{ form_start(search_form, {'attr': { 'class': 'search'}}) }}
    {{ form_row(search_form.name) }}
    <div id="controls" class="collapse">
        {{ form_rest(search_form) }}
    </div>
    {{ form_widget(search_form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>

        <div class="col-sm-10">
            <input type="submit" value="Search" class="btn btn-primary" />
            <a class="btn btn-primary" id="advanced_search" role="button" data-toggle="collapse" href="#controls" aria-expanded="false" aria-controls="collapseExample">Advanced Search</a>
            {% if submitted %}
                <a class="btn btn-default" href="{{ path('person_search') }}">Reset</a>
                <a class="btn btn-default" href="{{ path('person_index') }}">Cancel</a>
            {% endif %}
        </div>
    </div>
    {{ form_end(search_form) }}

    {% if people|length %}
        <div class="navigation">
            {{ knp_pagination_render(people) }}
        </div>

        {{ include('AppBundle:person:table.html.twig') }}

        <div class="navigation">
            {{ knp_pagination_render(people) }}
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $("#advanced_search").click(function(){
                $(this).hide();
            });
        });
    </script>
{% endblock %}