{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>{{ person }}</h1>
    <div class="row">
        <div class="col-sm-6 text-left">
            {% if previous %}
                Previous person: <a href="{{ path('person_show', {'id': previous.id }) }}">{{ previous }}</a>
            {% endif %}
        </div>
        <div class="col-sm-6 text-right">
            {% if next %}
                Next person: <a href="{{ path('person_show', {'id': next.id }) }}">{{ next }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="javascript: history.go(-1)" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ person.firstName }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ person.title }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ person.gender }}</td>
            </tr>
            <tr>
                <th>Date of birth</th>
                <td>{% if person.dob %}{{ person.dob }}{% endif %}</td>
            </tr>
            <tr>
                <th>Place of birth</th>
                <td>
                    {% if person.cityOfBirth %} 
                        <a href="{{path('geonames_show', {'id': person.cityOfBirth.geonameid}) }}">
                            {{ person.cityOfBirth.name }} 
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date of death</th>
                <td>{% if person.dod %}{{ person.dod }}{% endif %}</td>
            </tr>
            <tr>
                <th>Place of Death</th>
                <td>
                    {% if person.cityOfDeath %} 
                        <a href="{{ path('geonames_show', {'id': person.cityOfDeath.geonameid}) }}">
                            {{ person.cityOfDeath.name }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Titles</h2>
    <p class="count">
        Displaying {{ pagination|length }} titles of {{ pagination.getTotalItemCount }} total.
    </p>
    <table class="table table-bordered table-condensed table-hover table-striped tablesorter" id="titleRoles">
        <thead>
            <tr>
                <th>Role</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>                        
            {% for tr in pagination %}
                {% set title = tr.title %}
                <tr>
                    <td>{{ tr.role.name }}</td>
                    <td><a href="{{ path('title_show', {'id': title.id}) }}">{{ title.title }}</a></td>
                    <td>{{ title.pubdate }}</td>
                </tr>                        
            {% endfor %}
    </table>
    <div class='btn-toolbar pull-right'>
        <div class="title">
            <h4>Export citation list</h4>
        </div>
        <div class='btn-group'>
            <a class='btn btn-default' href="{{ path('person_export', {'id': person.id, 'format': 'mla'}) }}">MLA</a>
            <a class='btn btn-default' href="{{ path('person_export', {'id': person.id, 'format': 'apa'}) }}">APA</a>
            <a class='btn btn-default' href="{{ path('person_export', {'id': person.id, 'format': 'chicago'}) }}">Chicago</a>
            <a class='btn btn-default' href="{{ path('person_export', {'id': person.id, 'format': 'bibtex'}) }}">BibTex</a>
        </div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class='clearfix'></div>

    {% include 'NinesFeedbackBundle:Comment:comment-interface.html.twig' with { 'entity': person } %}                

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower/tablesorter/jquery.tablesorter.min.js') }}"></script>
{% endblock %}
