{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Person</h1>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
		<div class="btn-group pull-right">
			<a href="javascript: history.go(-1)" class="btn btn-default">
				<span class="glyphicon glyphicon-arrow-left"></span> Back
			</a>
		</div>
	</div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Last name</th>
				<td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>First name</th>
				<td>{{ person.firstName }}</td>
            </tr>
            <tr>
                <th>Title</th>
				<td>{{ person.title }}</td>
            </tr>
            <tr>
                <th>Gender</th>
				<td>{{ person.gender }}</td>
            </tr>
            <tr>
                <th>Dob</th>
				<td>{{ person.dob }}</td>
            </tr>
            <tr>
                <th>Dod</th>
				<td>{{ person.dod }}</td>
            </tr>
			<tr>
				<th>Titles</th>
				<td>
					{% for tr in person.titleRoles %}
						{% set title = tr.title %}
                        {{ tr.role.name }}: <a href="{{ path('title_show', {'id': title.id}) }}">{{ title.title }}</a><br/>
					{% endfor %}
				</td>
			</tr>
            <tr>
                <th>Checked</th>
                <td>{% if person.checked %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Finalcheck</th>
                <td>{% if person.finalcheck %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
