<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            {% include('AppBundle:partials:sortable.html.twig') with {'pagination': people, 'header': 'Id', 'field': 'e.id'} %}
            {% include('AppBundle:partials:sortable.html.twig') with {'pagination': people, 'header': 'Last name', 'field': ['e.lastName', 'e.firstName', 'e.dob']} %}
            <th>First name</th>
            <th>Gender</th>
            {% include('AppBundle:partials:sortable.html.twig') with {'pagination': people, 'header': 'Date of birth', 'field': 'e.dob'} %}
            {% include('AppBundle:partials:sortable.html.twig') with {'pagination': people, 'header': 'Date of death', 'field': 'e.dod'} %}
        </tr>
    </thead>
    <tbody>
        {% for person in people %}
            <tr>
                <td>
                    <a href="{{ path('person_show', { 'id': person.id }) }}">
                        {{ person.id }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('person_show', { 'id': person.id }) }}">
                        {{ person.lastName }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('person_show', { 'id': person.id }) }}">
                        {{ person.firstName }}
                    </a>
                </td>
                <td>{% include 'AppBundle:person:gender.html.twig' %}</td>
                <td>{% if person.dob %}{{ person.dob|replace({'-00': ''}) }}{% endif %}</td>
                <td>{% if person.dod %}{{ person.dod|replace({'-00': ''}) }}{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
