{% extends 'base.html.twig' %}

{% block title %}Jackson Bibliography Details{% endblock %}

{% block pageheader %}
    <h1>Jackson Bibliography Details</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('resource_jackson_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Jackson ID</th>
                <td>{{ jackson.jbid }}</td>
            </tr>
            <tr>
                <th>Detailed Entry</th>
                <td>{{ jackson.detailedEntry }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ jackson.author }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ jackson.title }}</td>
            </tr>
            <tr>
                <th>Editor</th>
                <td>{{ jackson.editor }}</td>
            </tr>
            <tr>
                <th>Place of Publication</th>
                <td>{{ jackson.pubplace }}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{ jackson.publisher }}</td>
            </tr>
            <tr>
                <th>Publication Date</th>
                <td>{{ jackson.pubdate }}</td>
            </tr>
            <tr>
                <th>Edition</th>
                <td>{{ jackson.edition }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ jackson.format }}</td>
            </tr>
            <tr>
                <th>Pagination</th>
                <td>{{ jackson.pagination }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ jackson.price }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ jackson.reference }}</td>
            </tr>
            <tr>
                <th>Library</th>
                <td>{{ jackson.library }}</td>
            </tr>
            <tr>
                <th>Shelfmark</th>
                <td>{{ jackson.shelfmark }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ jackson.comment }}</td>
            </tr>
            <tr>
                <th>Exam Note</th>
                <td>{{ jackson.examnote }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
