<div>
    <h2>Recommended Citation</h2>
    <div class="citation-container">
        <p class="citation">
            {{ title }} <i>The Women's Print History Project</i>, 2019,
            {{ type }} ID {{ record.id }} <a href='{{ url }}'>{{ url }}</a>. Accessed {{ null|date('Y-m-d') }}.
        </p>
    </div>
</div>
