{% extends 'base.html.twig' %}

{% block title %}En List{% endblock %}

{% block pageheader %}
    <h1>English Novel Bibliography</h1>
    <p class="count">
        Displaying {{ ens|length }} entries of {{ ens.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('resource_en_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {% embed 'partial/table.html.twig' %}
        {% set entities = ens %}
        {% block thead %}
            <tr>
                <th>En ID</th>
                <th>Year</th>
                <th>Author</th>
                <th>Title</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for en in ens %}
                <tr>
                    <td>
                        <a href="{{ path('resource_en_show', { 'id': en.id }) }}">
                            {{ en.enId }}
                        </a>
                    </td>
                    <td>{{ en.year }}</td>
                    <td>{{ en.author }}</td>
                    <td>{{ en.title }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
