{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Explore Firms</h1>
    {% if firms|length > 0 %}
        Displaying {{ firms|length }} titles of {{ firms.getTotalItemCount }} total, which have not be final checked.
    {% else %}
        No firms to display.
    {% endif %}
{% endblock %}

{% block body %}

    {% if firms|length > 0 %}
        <div class="navigation">
            {{ knp_pagination_render(firms) }}
        </div>

        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Street Address</th>
                    <th>City</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for firm in firms %}
                    <tr>
                        <td>{{ firm.id }}</td>
                        <td>
                            <a href="{{ path('firm_show', { 'id': firm.id }) }}">
                                {{ firm.name }}
                            </a>
                        </td>
                        <td>{{ firm.streetAddress }}</td>    
                        <td>{{ firm.city }}</td>
                        <td>{% if firm.startDate %}{{ firm.startDate|date('Y') }}{% endif %}</td>
                        <td>{% if firm.endDate %}{{ firm.endDate|date('Y') }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(firms) }}
        </div>
    {% endif %}
{% endblock %}
