{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Explore People</h1>
    {% if persons|length %}
        Displaying {{ persons|length }} people of {{ persons.getTotalItemCount }} total who have not been final checked.
    {% else %}
        No person records to display.
    {% endif %}
{% endblock %}

{% block body %}

    {% if persons|length %}
        <div class="navigation">
            {{ knp_pagination_render(persons) }}
        </div>

        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Last name</th>
                    <th>First name</th>
                    <th>Gender</th>
                    <th>Date of birth</th>
                    <th>Date of death</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                    <tr>
                        <td>
                            <a href="{{ path('person_show', { 'id': person.id }) }}">
                                {{ person.id }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('person_show', { 'id': person.id }) }}">
                                {{ person.lastName }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('person_show', { 'id': person.id }) }}">
                                {{ person.firstName }}
                            </a>
                        </td>
                        <td>{% include 'AppBundle:person:gender.html.twig' %}</td>
                        <td>{% if person.dob %}{{ person.dob|replace({'-00': ''}) }}{% endif %}</td>
                        <td>{% if person.dod %}{{ person.dod|replace({'-00': ''}) }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(persons) }}
        </div>
    {% endif %}

{% endblock %}
