{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Explore Firm Roles</h1>
{% endblock %}

{% block body %}


    <div class='btn-toolbar'>
        <div class='btn-group ms-auto'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('firmrole_new') }}" class="btn btn-default">
                    <span class="bi bi-plus-lg"></span> Add Firm Role
                </a>
            {% endif %}
        </div>
    </div>
    {% embed 'partial/table.html.twig' with {'entities': firmroles} %}
        {% block thead %}
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Firms</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for firmrole in firmroles %}
                <tr>
                    <td>
                        <a href="{{ path('firmrole_show', { 'id': firmrole.id }) }}">
                            {{ firmrole.name }}
                        </a>
                    </td>
                    <td>
                        {{ firmrole.description|raw }}
                    </td>
                    <td>
                        <a href="{{ path('firmrole_show', { 'id': firmrole.id }) }}">
                            {{ repo.countFirms(firmrole) }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}


{% endblock %}
