{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>TitleFirmrole List</h1>
    <p class="count">
        Displaying {{ titleFirmroles|length }} titleFirmroles of {{ titleFirmroles.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('titlefirmrole_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('titlefirmrole_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>            </tr>
        </thead>
        <tbody>
        {% for titleFirmrole in titleFirmroles %}
            <tr>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(titleFirmroles) }}
    </div>

{% endblock %}
