<h2>Firm List</h2>
<p class="count">
    Displaying {{ firms|length }} firms of {{ firms.getTotalItemCount }} total.
</p>

{% embed 'partials/table.html.twig' %}
    {% block thead %}
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Street Address</th>
            <th>City</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    {% endblock %}
    {% block tbody %}
        {% for firm in firms %}
            <tr>
                <td>{{ firm.id }}</td>
                <td>
                    <a href="{{ path('firm_show', { 'id': firm.id }) }}">
                        {{ firm.name }}
                    </a>
                </td>
                <td>{{ firm.streetAddress }}</td>
                <td>{{ firm.city }}</td>
                <td>{% if firm.startDate %}{{ firm.startDate|date('Y') }}{% endif %}</td>
                <td>{% if firm.endDate %}{{ firm.endDate|date('Y') }}{% endif %}</td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}

<div class="navigation">
    {{ knp_pagination_render(firms) }}
</div>
