{% extends 'base.html.twig' %}

{% block title %}Osborne Marc List{% endblock %}

{% block pageheader %}
    <h1>Osborne Marc List</h1>
    <p class="count">
        Displaying {{ osborneMarcs|length }} Osborne MARC records of {{ osborneMarcs.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('resource_osborne_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {% embed 'partials/table.html.twig' %}
        {% block thead %}
            <tr>
                <th>Title ID</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for osborneMarc in osborneMarcs %}
                <tr>
                    <td>
                        <a href="{{ path('resource_osborne_show', { 'id': osborneMarc.titleId }) }}">
                            {{ osborneMarc.titleId }}
                        </a>
                    </td>
                    <td>{{ manager.getTitle(osborneMarc) }}</td>
                    <td>{{ manager.getAuthor(osborneMarc) }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(osborneMarcs) }}
    </div>

{% endblock %}
