{% extends 'base.html.twig' %}

{% block title %}Osborne MARC Search{% endblock %}

{% block pageheader %}
    <h1>Osborne MARC Search</h1>
    {% if osborneMarcs|length %}
        <p class="count">
            Displaying {{ osborneMarcs|length }} search results of {{ titleIds.getTotalItemCount }} total.
        </p>
    {% endif %}
{% endblock %}

{% block body %}

    <form method="get" class="form-horizontal" action="{{ path('resource_osborne_search') }}">
        <fieldset>
            <legend>Search the Osborn MARC records</legend>
            <div class="form-group">
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='input-group'>
                    <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class='glyphicon glyphicon-search'></span>
                            Search
                        </button>
                    </span>
                </div>
                <p class="help-block col-sm-offset-2">Search the records by title or author.</p>
            </div>
        </fieldset>
    </form>

    {% if osborneMarcs|length %}
        {% embed 'partials/table.html.twig' %}
            {% set entities = titleIds %}
            {% block thead %}
                <tr>
                    <th>ID</th>
                    <th>Author</th>
                    <th>Title</th>
                </tr>
            {% endblock %}
            {% block tbody %}
                {% for osborneMarc in osborneMarcs %}
                    <tr>
                        <td>
                            <a href="{{ path('resource_osborne_show', { 'id': osborneMarc.titleId }) }}">
                                {{ osborneMarc.titleId }}
                            </a>
                        </td>
                        <td>{{ manager.getAuthor(osborneMarc) }}</td>
                        <td>{{ manager.getTitle(osborneMarc) }}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endif %}

{% endblock %}
