<h1>Title List</h1>
<p class="count">
    Displaying {{ titles|length }} titles of {{ titles.getTotalItemCount }} total.
</p>

{% embed 'partials/table.html.twig' %}
    {% block thead %}
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Firms (City)</th>
            <th>Date
            <th>Edition</th>
        </tr>
    {% endblock %}
    {% block tbody %}
        {% for title in titles %}
            <tr>
                <td>
                    <a href="{{ path('title_show', { 'id': title.id }) }}">
                        {{ title.id }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('title_show', { 'id': title.id }) }}">
                        {{ title.title }}
                    </a>
                </td>
                <td>
                    {% for tr in title.titleRoles|filter(r => r.role.name == 'Author') %}
                        {% set person = tr.person %}
                        <a href="{{ path('person_show', {'id': person.id}) }}">{{ person.lastName }}
                            , {{ person.firstName }}</a><br/>
                    {% endfor %}
                </td>
                <td>
                    {% for tfr in title.titleFirmRoles|filter(r => r.firmRole.name == 'Publisher') %}
                        {% set firm = tfr.firm %}
                        <a href="{{ path('firm_show', {'id': firm.id}) }}">{{ firm.name }} {% if firm.city %}({{ firm.city.name }}){% endif %}</a>
                        <br/>
                    {% endfor %}
                </td>
                <td>{{ title.pubdate }}</td>
                <td>{{ title.edition }}</td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}

<div class="navigation">
    {{ knp_pagination_render(titles) }}
</div>
