{% extends 'base.html.twig' %}

{% block title %}Jackson Bibliography List{% endblock %}

{% block pageheader %}
    <h1>Jackson Bibliography List</h1>
    <p class="count">
        Displaying {{ jacksons|length }} jacksons of {{ jacksons.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('resource_jackson_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {% embed 'partials/table.html.twig' %}
        {% set entities = jacksons %}
        {% block thead %}
            <tr>
                <th>Jackson ID</th>
                <th>Author</th>
                <th>Title</th>
                <th>Pubdate</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for jackson in jacksons %}
                <tr>
                    <td>
                        <a href="{{ path('resource_jackson_show', { 'id': jackson.id }) }}">
                            {{ jackson.jbid }}
                        </a>
                    </td>
                    <td>{{ jackson.author }}</td>
                    <td>{{ jackson.title }}</td>
                    <td>{{ jackson.pubdate }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
