{% extends 'base.html.twig' %}

{% block title %}Jackson Bibliography List{% endblock %}

{% block pageheader %}
    <h1>Jackson Bibliography List</h1>
    {% if jacksons|length %}
        <p class="count">
            Displaying {{ jacksons|length }} entries of {{ jacksons.getTotalItemCount }} total.
        </p>
    {% endif %}
{% endblock %}

{% block body %}

    <form method="get" class="form-horizontal" action="{{ path('resource_jackson_search') }}">
        <fieldset>
            <legend>Search the Jackson Bibliography records</legend>
            <div class="form-group">
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='input-group'>
                    <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class='glyphicon glyphicon-search'></span>
                            Search
                        </button>
                    </span>
                </div>
                <p class="help-block col-sm-offset-2">Search the records by title or author.</p>
            </div>
        </fieldset>
    </form>

    {% if jacksons|length %}
        {% embed 'partials/table.html.twig' %}
            {% block thead %}
                <tr>
                    <th>Jackson ID</th>
                    <th>Author</th>
                    <th>Title</th>
                </tr>
            {% endblock %}
            {% block tbody %}
                {% for jackson in jacksons %}
                    <tr>
                        <td>
                            <a href="{{ path('resource_jackson_show', { 'id': jackson.id }) }}">
                                {{ jackson.id }}
                            </a>
                        </td>
                        <td>{{ jackson.author }}</td>
                        <td>{{ jackson.title }}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}

        <div class="navigation">
            {{ knp_pagination_render(jacksons) }}
        </div>
    {% endif %}

{% endblock %}
