{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Format</h1>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
		<div class="btn-group pull-right">
			<a href="javascript: history.go(-1)" class="btn btn-default">
				<span class="glyphicon glyphicon-arrow-left"></span> Back
			</a>
		</div>
	</div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Name</th>
				<td>{{ format.name }}</td>
            </tr>
            <tr>
                <th>Abbreviation 1</th>
				<td>{{ format.abbrevOne }}</td>
            </tr>
            <tr>
                <th>Abbreviation 2</th>
				<td>{{ format.abbrevTwo }}</td>
            </tr>
            <tr>
                <th>Abbreviation 3</th>
				<td>{{ format.abbrevThree }}</td>
            </tr>
            <tr>
                <th>Abbreviation 4</th>
				<td>{{ format.abbrevFour }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
