{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Geonames</h1>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('geonames_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
            <a href="{{ path('geonames_import') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Import
            </a>
        </div>
    </div>
    {% embed 'partial/table.html.twig' %}
        {% set entities = geonames %}
        {% block thead %}
            <tr>
                <th>Geoname ID</th>
                <th>Name</th>
                <th>Alternate names</th>
                <th>Country</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for geoname in geonames %}
                <tr>
                    <td>
                        <a href="{{ path('geonames_show', { 'id': geoname.geonameid }) }}">
                            {{ geoname.geonameid }}
                        </a>
                    </td>
                    <td>{{ geoname.name }}</td>
                    <td>{{ geoname.alternatenames }}</td>
                    <td>{{ geoname.country }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}


{% endblock %}
