{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Geonames List</h1>
    <p class="count">
        Displaying {{ geonames|length }} geonames of {{ geonames.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Geoname ID</th>
                <th>Name</th>
                <th>Alternate names</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
        {% for geoname in geonames %}
            <tr>
                <td>
                    <a href="{{ path('geonames_show', { 'id': geoname.geonameid }) }}">
                        {{ geoname.geonameid }}
                    </a>
                </td>
                <td>{{ geoname.name }}</td>
                <td>{{ geoname.alternatenames }}</td>
                <td>{{ geoname.country }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(geonames) }}
    </div>

{% endblock %}
