{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Geonames Search</h1>
    {% if q %}
    <p class="count">
        Displaying {{ geonames|length }} geonames of {{ geonames.getTotalItemCount }} total.
    </p>
    {% endif %}
{% endblock %} 

{% block body %}

    <form method="get" class="form-horizontal" action="{{ path('geonames_search') }}">
        <fieldset>
            <legend>Search the Jackson Bibliography records</legend>
            <div class="form-group">
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='input-group'>
                    <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class='glyphicon glyphicon-search'></span>
                            Search
                        </button>
                    </span>
                </div>
                <p class="help-block col-sm-offset-2">Search the records by name.</p>
            </div>
        </fieldset>
    </form>

    {% if q %}
    <div class="navigation">
        {{ knp_pagination_render(geonames) }}
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Geoname ID</th>
                <th>Name</th>
                <th>Alternate names</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for geoname in geonames %}
                <tr>
                    <td>
                        <a href="{{ path('geonames_show', { 'id': geoname.geonameid }) }}">
                            {{ geoname.geonameid }}
                        </a>
                    </td>
                    <td>{{ geoname.name }}</td>
                    <td>{{ geoname.alternatenames }}</td>
                    <td>{{ geoname.country }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(geonames) }}
    </div>

    {% endif %}

{% endblock %}
