{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Geonames</h1>
{% endblock %}

{% block body %}

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('geonames_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th data-toggle="popover" data-content="Location’s URI from Geonames.com">Geoname ID</th>
                <td>{{ geoname.geonameid }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Location’s name">Name</th>
                <td>{{ geoname.name }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Number of titles associated with the location">Titles</th>
                <td>
                    <a href="{{ path('geonames_titles', {'id': geoname.geonameid}) }}">
                        {{ geoname.titles | length }}
                    </a>
                </td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Number of firms associated with the location">Firms</th>
                <td>
                    <a href="{{ path('geonames_firms', {'id': geoname.geonameid}) }}">
                        {{ geoname.firms | length }}
                    </a>
                </td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Number of people that were born and died in the location">People</th>
                <td>
                    <a href="{{ path('geonames_people', {'id': geoname.geonameid}) }}">
                        Born: {{ geoname.peopleBorn | length }}, Died: {{ geoname.peopleDied | length }}
                    </a>
                </td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Location’s name in ASCII code">ASCII name</th>
                <td>{{ geoname.asciiname }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Location’s latitude">Latitude</th>
                <td>{{ geoname.latitude }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Location’s longitude">Longitude</th>
                <td>{{ geoname.longitude }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Initials of the country">Country</th>
                <td>{{ geoname.country }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Feature code of a primary administrative division of a country">Admin 1</th>
                <td>{{ geoname.admin1 }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Feature code of a subdivision of a first-order administrative division">Admin 2</th>
                <td>{{ geoname.admin2 }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Feature code of a subdivision of a second-order administrative division">Admin 3</th>
                <td>{{ geoname.admin3 }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="Feature code of a subdivision of a third-order administrative division">Admin 4</th>
                <td>{{ geoname.admin4 }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
