<!--Sets variables to be used in all styles-->
{% set authors = title.getTitleRoles('Author') %}
{% set authorCount = authors|length %}

<!--Author(s)-->
{% if authorCount == 0 %}
{% elseif authorCount == 1 %}
	{% for author in authors %}
		<!--Creates array of name parts in firstName for one author-->
		{% set firstNameSplit = author.person.firstName|split(' ') %}

	<a href="{{path("person_show", {"id": author.person.id})}}">{{ author.person.lastName }}, {% for namePart in firstNameSplit %}{{ namePart|first }}.{% endfor %}</a>
	{% endfor %}

{% elseif authorCount == 2 %}
	{% for author in authors %}
		<!--Creates array of name parts in firstName for one author-->
		{% set firstNameSplit = author.person.firstName|split(' ') %}

		{% if loop.last == false %}
			<a href="{{path("person_show", {"id": author.person.id})}}">{{author.person.lastName}}, {% for namePart in firstNameSplit %}{{ namePart|first }}.{% endfor %}</a>, &amp;
		{% else %}
			<a href="{{path("person_show", {"id": author.person.id})}}">{{author.person.lastName}}, {% for namePart in firstNameSplit %}{{ namePart|first }}.{% endfor %}</a>
		{% endif %}
	{% endfor %}

{% elseif (authorCount >= 3) and (authorCount <= 7) %}
	{% for author in authors %}
		<!--Creates array of name parts in firstName for one author-->
		{% set firstNameSplit = author.person.firstName|split(' ') %}

		{% if loop.last == false %}
			<a href="{{path("person_show", {"id": author.person.id})}}">{{author.person.lastName}}, {% for namePart in firstNameSplit %}{{ namePart|first }}.{% endfor %}</a>, &amp;
		{% else %}
			<a href="{{path("person_show", {"id": author.person.id})}}">{{author.person.lastName}}, {% for namePart in firstNameSplit %}{{ namePart|first }}.{% endfor %}</a>
		{% endif %}
	{% endfor %}
{% else %}
	{% for author in authors %}
		<!--Creates array of name parts in firstName for one author-->
		{% set firstNameSplit = author.person.firstName|split(' ') %}

		{% if loop.index0 <= 5 %}
			<a href="{{path("person_show", {"id": author.person.id})}}">{{author.person.lastName}}, {% for namePart in firstNameSplit %}{{ namePart|first }}.{% endfor %}</a>, 
		{% elseif loop.last %}
			… <a href="{{path("person_show", {"id": author.person.id})}}">{{author.person.lastName}}, {% for namePart in firstNameSplit %}{{ namePart|first }}.{% endfor %}</a>
		{% endif %}
	{% endfor %}
{% endif %}
<!--Publication year-->
({{ title.pubdate }}).
<!--Title-->
<em><a href="{{path("title_show", {"id": title.id})}}">{{ title.title|capitalize }}</a></em>
{%- if title.title matches '{[^[:punct:]]$}' %}.{% endif %}
<!--Location-->
{{title.locationOfPrinting.name}}: 
<!--Publisher-->
{% for tfr in title.titleFirmRoles %}
	{% if tfr.firmrole.name == 'Publisher' %}
		{% set firm = tfr.firm %}
		{{ firm.name }}{%- if firm.name matches '{[^[:punct:]]$}' %}.{% endif %}
	{% endif %}
{% endfor %}
