{% extends 'base.html.twig' %}

{% block title %}Title Edit{% endblock %}

{% block body %}
    <h1>Edit Title</h1>

    {{ form_start(edit_form) }}
                <h3>Citation Information</h3>
                {{ form_row(edit_form.title) }}
                {{ form_row(edit_form.signedAuthor) }}
                {{ form_row(edit_form.pubdate) }}
                {{ form_row(edit_form.locationOfPrinting) }}
                {{ form_row(edit_form.edition) }}
                {{ form_row(edit_form.editionNumber) }}
                {{ form_row(edit_form.volumes) }}
                {{ form_row(edit_form.titleFirmroles) }}

                <h3>Author Information</h3>
                {{ form_row(edit_form.pseudonym) }}
                {{ form_row(edit_form.titleRoles) }}

                <h3>Publishing Information</h3>
                {{ form_row(edit_form.selfpublished) }}
                {{ form_row(edit_form.dateOfFirstPublication) }}

                <h3>Cataloguing Information</h3>
                {{ form_row(edit_form.genre) }}
                {{ form_row(edit_form.format) }}
                {{ form_row(edit_form.imprint) }}
                {{ form_row(edit_form.pagination) }}
                {{ form_row(edit_form.sizeL) }}
                {{ form_row(edit_form.sizeW) }}
                {{ form_row(edit_form.pricePound) }}
                {{ form_row(edit_form.priceShilling) }}
                {{ form_row(edit_form.pricePence) }}
                {{ form_row(edit_form.shelfmark) }}

                <h3>Entry Information</h3>
                {{ form_row(edit_form.notes) }}
                {{ form_row(edit_form.source) }}
                {{ form_row(edit_form.sourceId) }}
                {{ form_row(edit_form.source2) }}
                {{ form_row(edit_form.source2Id) }}
                {{ form_row(edit_form.checked) }}
                {{ form_row(edit_form.finalcheck) }}

    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a href="{{ path('title_show', { 'id': title.id }) }}" class="btn btn-warning">Cancel</a>
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}

{% block styles %}
    <link href="{{ asset('bower/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bower/select2-bootstrap-css/select2-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="{{ asset('bower/symfony-collection/jquery.collection.js') }}"></script>
{% endblock %}
