{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Title List</h1>
    <p class="count">
        Displaying {{ titles|length }} titles of {{ titles.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <form method="get" class="form-horizontal" action="{{ path('title_jump') }}">
        <fieldset>
            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Jump to ID</label>
                <div class='col-sm-4'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value=''>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class='glyphicon glyphicon-share-alt'></span>
                                Jump
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('title_export') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-download-alt"></span> Download
            </a>
            <a href="{{ path('title_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {{ include('AppBundle:Title:table.html.twig') }}

    <div class="navigation">
        {{ knp_pagination_render(titles) }}
    </div>
        

{% endblock %}
