{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Title List</h1>
    <p class="count">
        Displaying {{ titles|length }} titles of {{ titles.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

	<div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('title_export') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-download-alt"></span> Download
            </a>
            <a href="{{ path('title_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
            <a href="{{ path('title_fulltext') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Fulltext
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Imprint</th>
                <th>Pubdate</th>
                <th>Edition</th>
                <th>Volumes</th>
                <th>Shelfmark</th>
            </tr>
        </thead>
        <tbody>
        {% for title in titles %}
            <tr>
                <td>
                    <a href="{{ path('title_show', { 'id': title.id }) }}">
                        {{ title.title }}
                    </a>
                </td>
                <td>{{ title.imprint }}</td>
                <td>{{ title.pubdate }}</td>
                <td>{{ title.edition }}</td>
                <td>{% if title.volumes %}Yes{% else %}No{% endif %}</td>
                <td>{{ title.shelfmark }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(titles) }}
    </div>

{% endblock %}
