{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Title List</h1>
    <p class="count">
        Displaying {{ titles|length }} titles of {{ titles.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

	<div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('title_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
            <a href="{{ path('title_fulltext') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Fulltext
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Signedauthor</th>
                <th>Surrogate</th>
                <th>Pseudonym</th>
                <th>Imprint</th>
                <th>Selfpublished</th>
                <th>Pubdate</th>
                <th>Dateoffirstpublication</th>
                <th>Sizel</th>
                <th>Sizew</th>
                <th>Edition</th>
                <th>Volumes</th>
                <th>Pagination</th>
                <th>Pricepound</th>
                <th>Priceshilling</th>
                <th>Pricepence</th>
                <th>Sourceid</th>
                <th>Source2id</th>
                <th>Shelfmark</th>
                <th>Checked</th>
                <th>Finalcheck</th>
                <th>Notes</th>            </tr>
        </thead>
        <tbody>
			{% for title in titles %}
				<tr>
					<td>
						<a href="{{ path('title_show', { 'id': title.id }) }}">
							{{ title.title }}
						</a>
					</td>
					<td>{{ title.signedAuthor }}</td>
					<td>{{ title.surrogate }}</td>
					<td>{{ title.pseudonym }}</td>
					<td>{{ title.imprint }}</td>
					<td>{% if title.selfpublished %}Yes{% else %}No{% endif %}</td>
					<td>{{ title.pubdate }}</td>
					<td>{{ title.dateOfFirstPublication }}</td>
					<td>{% if title.sizeL %}Yes{% else %}No{% endif %}</td>
					<td>{% if title.sizeW %}Yes{% else %}No{% endif %}</td>
					<td>{{ title.edition }}</td>
					<td>{% if title.volumes %}Yes{% else %}No{% endif %}</td>
					<td>{{ title.pagination }}</td>
					<td>{{ title.pricePound }}</td>
					<td>{{ title.priceShilling }}</td>
					<td>{{ title.pricePence }}</td>
					<td>{{ title.sourceId }}</td>
					<td>{{ title.source2Id }}</td>
					<td>{{ title.shelfmark }}</td>
					<td>{% if title.checked %}Yes{% else %}No{% endif %}</td>
					<td>{% if title.finalcheck %}Yes{% else %}No{% endif %}</td>
					<td>{{ title.notes }}</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(titles) }}
    </div>

{% endblock %}
