{% extends 'base.html.twig' %}

{% block htmlhead %}
    <link rel="meta" type="application/rdf+xml" href="{{ path('title_show', {'id': title.id, '_format': 'rdf'}) }}"/>
{% endblock %}

{% block pageheader %} 
    <h1>{{ title.title }}</h1>
    <div class="row">
        <div class="col-sm-6 text-left">
            {% if previous %}
                Previous title: <a href="{{ path('title_show', {'id': previous.id }) }}">{{ previous }}</a>
            {% endif %}
        </div>
        <div class="col-sm-6 text-right">
            {% if next %}
                Next title: <a href="{{ path('title_show', {'id': next.id }) }}">{{ next }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('title_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ title.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ title.title }}</td>
            </tr>
            <tr>
                <th>Signed author</th>
                <td>{{ title.signedAuthor }}</td>
            </tr>

            <tr>
                <th>Contributors</th>
                <td>
                    {% for tr in title.titleRoles %}
                        {% set person = tr.person %}
                        {{ tr.role.name }}: <a href="{{ path('person_show', {'id': person.id}) }}">{{ person.lastName }}, {{ person.firstName }}</a><br/>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <th>Firms</th>
                <td>
                    {% for tfr in title.titleFirmRoles %}
                        {% set firm = tfr.firm %}
                        {{ tfr.firmrole.name }}: <a href="{{ path('firm_show', {'id': firm.id}) }}">{{ firm.name }} ({{firm.city.name }})</a><br/>
                    {% endfor %}
                </td>            
            <tr>
                <th>Format</th>
                <td>
                    {% if title.format %}
                        <a href="{{ path('format_show', {'id': title.format.id}) }}">
                            {{ title.format.name }} ({{ title.format.abbrevOne }})
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Location of printing</th>
                <td>
                    {% if title.locationOfPrinting %}
                        <a href="{{ path('geonames_show', {'id': title.locationOfPrinting.geonameid}) }}">
                            {{ title.locationOfPrinting.name }} {{ title.locationOfPrinting.country }}
                        </a>
                        ({{ title.locationOfPrinting.latitude }}, {{ title.locationOfPrinting.longitude }})
                    </td>
                {% endif %}
            </tr>
            <tr>
                <th>Genre</th>                
                <td>
                    {% if title.genre %}
                        <a href="{{ path('genre_show', {'id': title.genre.id}) }}">
                            {{ title.genre.name }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Source 1</th>
                <td>
                    {% if title.source %}
                        <a href="{{ path('source_show', {'id': title.source.id}) }}">
                        {{ title.source.name }} {{ title.sourceId }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Source 2</th>
                <td>
                    {% if title.source2 %}
                        <a href="{{ path('source_show', {'id': title.source2.id}) }}">
                        {{ title.source2.name }} {{ title.source2Id }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Pseudonym</th>
                <td>{{ title.pseudonym }}</td>
            </tr>
            <tr>
                <th>Imprint</th>
                <td>{{ title.imprint }}</td>
            </tr>
            <tr>
                <th>Self published</th>
                <td>{% if title.selfpublished %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Publication date</th>
                <td>{{ title.pubdate }}</td>
            </tr>
            <tr>
                <th>Date of first publication</th>
                <td>{{ title.dateOfFirstPublication }}</td>
            </tr>
            <tr>
                <th>Length (cm)</th>
                <td>{{ title.sizeL }}</td>
            </tr>
            <tr>
                <th>Width (cm)</th>
                <td>{{ title.sizeW }}</td>
            </tr>
            <tr>
                <th>Edition</th>
                <td>{{ title.edition }}</td>
            </tr>
            <tr>
                <th>Volumes</th>
                <td>{{ title.volumes }}</td>
            </tr>
            <tr>
                <th>Pagination</th>
                <td>{{ title.pagination }}</td>
            </tr>
            <tr>
                <th>Price (pound)</th>
                <td>{{ title.pricePound }}</td>
            </tr>
            <tr>
                <th>Price (shilling)</th>
                <td>{{ title.priceShilling }}</td>
            </tr>
            <tr>
                <th>Price (pence)</th>
                <td>{{ title.pricePence }}</td>
            </tr>
            <tr>
                <th>Total price (in pence)</th>
                <td>
                    {% if title.totalPrice > 0 %}
                        {{ title.totalPrice }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Shelf marks</th>
                <td>
                    {% for mark in title.shelfmark|split(';') %}
                        {{ mark }}<br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Hand checked</th>
                <td>{% if title.checked %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Final check</th>
                <td>{% if title.finalcheck %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ title.notes }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Bibliographic Entry</h3>
    <!--MLA entry-->
    <div id="mla">
        <h4>MLA</h4>
        <div class="well">
            <p>
                {% include "AppBundle:Title:mla.html.twig" with {'title': title} %}
            </p>
        </div>
    </div>
    <!--APA entry-->
    <div id="apa">
        <h4>APA</h4>
        <div class="well">
            <p>
                {% include "AppBundle:Title:apa.html.twig" with {'title': title} %}
            </p>
        </div>
    </div>
    <!--Chicago/Turabian: Author-Date entry-->
    <div id="chicago">
        <h4>Chicago/Turabian: Author-Date</h4>
        <div class="well">
            <p>
                {% include "AppBundle:Title:chicago.html.twig" with {'title': title} %}
            </p>
        </div>
    </div>
    <!--BibTeX-->
    <div id="bibtex">
        <h4>BibTeX</h4>
        <div class="well">
            <pre>{% include "AppBundle:Title:bibtex.html.twig" with {'title': title} %}</pre>
        </div>
    </div>

    {% include 'NinesFeedbackBundle:Comment:comment-interface.html.twig' with { 'entity': title } %}                

{% endblock %}
