{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Title</h1>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('title_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ title.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ title.title }}</td>
            </tr>
            <tr>
                <th>Signed author</th>
                <td>{{ title.signedAuthor }}</td>
            </tr>

            <tr>
                <th>Contributors</th>
                <td>
                    {% for tr in title.titleRoles %}
                        {% set person = tr.person %}
                        {{ tr.role.name }}: <a href="{{ path('person_show', {'id': person.id}) }}">{{ person.lastName }}, {{ person.firstName }}</a><br/>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <th>Firms</th>
                <td>
                    {% for tfr in title.titleFirmRoles %}
                        {% set firm = tfr.firm %}
                        {{ tfr.firmrole.name }}: <a href="{{ path('firm_show', {'id': firm.id}) }}">{{ firm.name }} ({{firm.city.name }})</a><br/>
                    {% endfor %}
                </td>            
            <tr>
                <th>Format</th>
                <td>{{ title.format.name }} ({{ title.format.abbrevOne }}).</td>
            </tr>
            <tr>
                <th>Location of printing</th>
                <td>{{ title.locationOfPrinting.name }} {{ title.locationOfPrinting.country }} ({{ title.locationOfPrinting.latitude }}, {{ title.locationOfPrinting.longitude }})</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ title.genre.name }}</td>
            </tr>
            <tr>
                <th>Source 1</th>
                <td>{{ title.source.name }} {{ title.sourceId }}</td>
            </tr>
            <tr>
                <th>Source 2</th>
                <td>{{ title.source2.name }} {{ title.source2Id }}</td>
            </tr>
            <tr>
                <th>Surrogate</th>
                <td>{{ title.surrogate }}</td>
            </tr>
            <tr>
                <th>Pseudonym</th>
                <td>{{ title.pseudonym }}</td>
            </tr>
            <tr>
                <th>Imprint</th>
                <td>{{ title.imprint }}</td>
            </tr>
            <tr>
                <th>Self published</th>
                <td>{% if title.selfpublished %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Publication date</th>
                <td>{{ title.pubdate }}</td>
            </tr>
            <tr>
                <th>Date of first publication</th>
                <td>{{ title.dateOfFirstPublication }}</td>
            </tr>
            <tr>
                <th>Size (length)</th>
                <td>{% if title.sizeL %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Size (width)</th>
                <td>{% if title.sizeW %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Edition</th>
                <td>{{ title.edition }}</td>
            </tr>
            <tr>
                <th>Volumes</th>
                <td>{{ title.volumes }}</td>
            </tr>
            <tr>
                <th>Pagination</th>
                <td>{{ title.pagination }}</td>
            </tr>
            <tr>
                <th>Price (pound)</th>
                <td>{{ title.pricePound }}</td>
            </tr>
            <tr>
                <th>Price (shilling)</th>
                <td>{{ title.priceShilling }}</td>
            </tr>
            <tr>
                <th>Price (pence)</th>
                <td>{{ title.pricePence }}</td>
            </tr>
            <tr>
            	<th>Total price (in pence)</th>
            	<td>
            		{% if title.totalPrice > 0 %}
            		{{ title.totalPrice }}
            		{% endif %}
            	</td>
            </tr>
            <tr>
                <th>Shelf marks</th>
                <td>
                    {% for mark in title.shelfmark|split(';') %}
                        {{ mark }}<br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Hand checked</th>
                <td>{% if title.checked %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Final check</th>
                <td>{% if title.finalcheck %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ title.notes }}</td>
            </tr>
        </tbody>
    </table>

<h3>Bibliographic Entry</h3>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#bibRef">Cite this item</button>
<div class="modal fade" id="bibRef" tabindex="-1" role="dialog" aria-labelledby="citation">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="citation"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Cite</h3>
			</div>
			<div class="modal-body">
				<!--MLA entry-->
				<div id="mla">
					<h4>MLA</h4>
					<div class="well">
						<p>
							{% include "AppBundle:Title:mla.html.twig" with {'title': title} %}
						</p>
					</div>
				</div>
				<!--APA entry-->
				<div id="apa">
					<h4>APA</h4>
					<div class="well">
						<p>
							{% include "AppBundle:Title:apa.html.twig" with {'title': title} %}
						</p>
					</div>
				</div>
				<!--Chicago/Turabian: Author-Date entry-->
				<div id="chicago">
					<h4>Chicago/Turabian: Author-Date</h4>
					<div class="well">
						<p>
							{% include "AppBundle:Title:chicago.html.twig" with {'title': title} %}
						</p>
					</div>
				</div>
				<!--BibTeX-->
				<div id="bibtex">
					<h4>BibTeX</h4>
					<div class="well">
						<pre>{% include "AppBundle:Title:bibtex.html.twig" with {'title': title} %}</pre>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
