{% embed 'partials/table.html.twig' %}
    {% block tbody %}
        <tr>
            <th>Code</th>
            <td>
                {{ currency.code }}
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>
                {{ currency.name }}
            </td>
        </tr>
        <tr>
            <th>Symbol</th>
            <td>
                {{ currency.symbol }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ currency.description|raw }}
            </td>
        </tr>

        <tr>
            <th>Created</th>
            <td>{{ currency.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ currency.updated|date }}</td>
        </tr>
    {% endblock %}
{% endembed %}


