{{ form_start(form) }}
{{ form_widget(form) }}
<div class="mb-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <input type="submit" value="Save" class="btn btn-primary"/>
        {% if currency.id is null %}
            <a href="{{ path('currency_index') }}" class="btn btn-warning">
                Cancel
            </a>
        {% else %}
            <a href="{{ path('currency_show', { 'id': currency.id }) }}" class="btn btn-warning">
                Cancel
            </a>
        {% endif %}
    </div>
</div>
{{ form_end(form) }}

