{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Explore Contributor Roles</h1>
    <p class="count">
        Displaying {{ roles|length }} roles of {{ roles.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('role_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Add Role
                </a>
            {% endif %}
        </div>
    </div>
    {% embed 'partials/table.html.twig' %}
        {% set entities = roles %}
        {% block thead %}
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Persons</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for role in roles %}
                <tr>
                    <td>
                        <a href="{{ path('role_show', { 'id': role.id }) }}">
                            {{ role.name }}
                        </a>
                    </td>
                    <td>{{ role.description|raw }}</td>
                    <td>
                        <a href="{{ path('role_show', { 'id': role.id }) }}">
                            {{ repo.countTitles(role) }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}


{% endblock %}
