{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>{{ firm.name }}</h1>
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <div class="btn-toolbar">
            <div class="btn-group pull-right">
                <a href="{{ path('firm_new') }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-plus'></span> Add Firm
                </a>
                <a href="{{ path('firm_edit', { 'id': firm.id }) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-edit'></span> Edit Firm
                </a>
                <a href="{{ path('firm_delete', { 'id': firm.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Firm?">
                    <span class='glyphicon glyphicon-remove'></span> Delete Firm
                </a>
            </div>
        </div>
    {% endif %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th data-toggle="popover" data-content="{{ 'firm.fields.id'|trans }}">ID</th>
                <td>{{ firm.id }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="{{ 'firm.fields.name'|trans }}">Name</th>
                <td>{{ firm.name }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="{{ 'firm.fields.gender'|trans }}">Gender</th>
                <td>{% include 'firm/partials/gender.html.twig' %}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="{{ 'firm.fields.streetAddress'|trans }}">Street Address</th>
                <td>{{ firm.streetAddress }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="{{ 'firm.fields.city'|trans }}">City</th>
                <td>
                    {% if firm.city %}
                        <a href="{{ path('geonames_show', {'id': firm.city.geonameid}) }}">
                            {{ firm.city.name }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="{{ 'firm.fields.startDate'|trans }}">Start Date</th>
                <td>{{ firm.startDate }}</td>
            </tr>
            <tr>
                <th data-toggle="popover" data-content="{{ 'firm.fields.endDate'|trans }}">End Date</th>
                <td>{{ firm.endDate }}</td>
            </tr>
            {% if firm.relatedPeople|length %}
            <tr>
                <th data-toggle='popover' data-content='{{ 'firm.fields.relatedPeople'|trans }}'>Related People</th>
                <td>
                        <ul>
                            {% for person in firm.relatedPeople %}
                                <li>
                                    <a href='{{ path('person_show', {'id': person.id}) }}'>
                                        {{ person }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                </td>
            </tr>
            {% endif %}
            {% if app.user %}
                <tr>
                    <th data-toggle="popover" data-content="{{ 'firm.fields.finalCheck'|trans }}">Final Check</th>
                    <td>{% if firm.finalcheck %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <h2>Titles</h2>
    Displaying {{ pagination|length }} titles of {{ pagination.getTotalItemCount }} total.
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped" id="firmRoles">
        <thead>
            <tr>
                <th>Firm&nbsp;Role</th>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for tfr in pagination %}
                {% set title = tfr.title %}
                {% set authorRole = title.getTitleRoles('Author')|first %}
                <tr>
                    <td>{{tfr.firmrole.name}}</td>
                    <td><a href="{{ path('title_show', {'id': title.id}) }}">{{ title.title }}</a></td>
                    <td>{% if authorRole %}{{ authorRole.person }}{% endif %}</td>
                    <td>{{ title.pubdate }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'partials/export.html.twig' with {'path': 'firm_export', 'parameters': {'id': firm.id}} %}

    <div class="clearfix"></div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    {{ include('partials/citation.html.twig', {
            'title': '"' ~ firm ~ '"',
            'record': firm,
            'type': 'Firm',
            'url': url('firm_show', {'id': firm.id})
        })
    }}

    <div class="clearfix"></div>

    {% include '@NinesFeedback/comment/comment-interface.html.twig' with { 'entity': firm } %}

{% endblock %}
