{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>{{ postCategory.label }}</h1>
{% endblock %}

{% block body %}

    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title pull-left">
                    <a href="{{ path('post_show', { 'id': post.id }) }}">
                        {{ post.title }}
                    </a>
                </h2>
                {% if is_granted('ROLE_BLOG_ADMIN') %}
                    <div class="panel-title pull-right">{{ post.status.label }}</div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {{ post.excerpt|raw }}
            </div>
            <div class="panel-footer text-right">
                Posted {{ post.created|date('Y-m-d H:i:s') }} by {{ post.user.fullname }} in
                <a href="{{ path('post_category_show', {'id': post.category.id }) }}">
                    {{ post.category -}}
                </a>.
            </div>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
