{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Search Persons</h1>
    {% if submitted %}
        Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
    {% endif %}
{% endblock %}

{% block body %}

    {{ form_start(search_form, {'attr': { 'class': 'search'}}) }}
    {{ form_row(search_form.name) }}
    {{ form_row(search_form.order) }}
    <div id="controls" class="collapse">
        {{ form_rest(search_form) }}
    </div>

    <div class="form-group">
        <div class="col-sm-2"></div>

        <div class="col-sm-10">
            <input type="submit" value="Search" class="btn btn-primary"/>
            <a class="btn btn-primary" id="advanced_search" role="button" data-toggle="collapse" href="#controls"
               aria-expanded="false" aria-controls="collapseExample">Advanced Search</a>
            {% if submitted %}
                <a class="btn btn-default" href="{{ path('person_search') }}">Reset</a>
                <a class="btn btn-default" href="{{ path('person_index') }}">Cancel</a>
                {% include 'partials/export.html.twig' with {'path': 'person_search_export', 'csvOnly': true } %}
            {% endif %}
        </div>
    </div>
    {{ form_end(search_form) }}

    {% if people|length %}
        <div class="navigation">
            {{ knp_pagination_render(people) }}
        </div>

        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <a href="{{ path('person_new') }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span> Add Person
                    </a>
                {% endif %}
            </div>
        </div>
        {{ include('person/table.html.twig') }}

        <div class="navigation">
            {{ knp_pagination_render(people) }}
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#advanced_search").click(function () {
                $(this).hide();
            });
        });
    </script>
{% endblock %}
