{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Explore Sources</h1>
{% endblock %}

{% block body %}
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('source_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Add Source
                </a>
            {% endif %}
        </div>
    </div>

    {% embed 'partial/table.html.twig' %}
        {% set entities = sources %}
        {% block thead %}
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Titles</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for source in sources %}
                <tr>
                    <td>
                        <a href="{{ path('source_show', { 'id': source.id }) }}">
                            {{ source.name }}
                        </a>
                    </td>
                    <td>{{ source.description | raw }}</td>
                    <td>
                        <a href="{{ path('source_show', { 'id': source.id }) }}">
                            {% if counts[source.id] is defined %}
                                {{ counts[source.id] }}
                            {% else %}
                                0
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}


{% endblock %}
