<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate"/>
    <title>{% block title %}WPHP{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" sizes="any"/>
    <link rel="icon" href="{{ asset('images/favicon.svg') }}" type="image/svg+xml"/>
    <link rel="stylesheet" href="{{ asset('yarn/@fortawesome/fontawesome-free/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('yarn/bootstrap3/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
    <script src="{{ asset('yarn/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('yarn/select2/dist/js/select2.full.min.js') }}"></script>
    <link href="{{ asset('yarn/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('yarn/select2-bootstrap-css/select2-bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="{{ asset('yarn/symfony-collection/jquery.collection.js') }}"></script>
    <script src="{{ asset('js/form.js') }}"></script>
    {% block htmlhead %}{% endblock %}
    {% block styles %}{% endblock -%}
</head>
<body class="{{ app.request.get('_route') }}">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav-container">
        <div class="nav-brand">
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('images/logo_white_2.svg') }}" alt="Home page"/>
            </a>
        </div>
        <div class="navbar-header nav-toggle">
            <button class="hamburger hamburger--collapse navbar-toggle" type="button"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
            {{ knp_menu_render('nines_blog_pages') }}
            {{ knp_menu_render('main') }}
            {{ knp_menu_render('research') }}
            {{ knp_menu_render('spotlight') }}
            {% set postMenu = knp_menu_get('wphp_post', [], {'title': 'Podcast'}) %}
            {{ knp_menu_render(postMenu) }}
            {{ knp_menu_render('wphp_user') }}
        </div>
    </div>
</nav>
<main class="container">
    {% if block('pageheader') is defined %}
        <div class="page-header">
            {{ block('pageheader') }}
        </div>
    {% endif %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}
    {% endblock %}
</main>

{% include 'partial/footer.html.twig' %}

<script src="{{ asset('yarn/bootstrap3/dist/js/bootstrap.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
<script src="{{ asset('js/dist/main.js') }}" type="module"></script>
{% if matomo_enabled %}
    {% include '@NinesUtil/matomo.html.twig' %}
{% endif %}
</body>
</html>
