{% extends 'base.html.twig' %}

{% block title %}ESTC Marc Record{% endblock %}

{% block pageheader %}
    <h1>ESTC Marc Record</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('resource_estc_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            <a href="{{ path('title_marc_import', {'type': 'estc', 'id': estcMarc.titleId}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-save"></span> Import
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        {% set data = manager.getData(estcMarc) %}
        <tbody>
            {% for field in data %}
                <tr>
                    <th>{{ manager.getFieldName(field) }} ({{ field }})</th>
                    <td>{{ field.getFieldData() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
