{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Firm</h1>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
		<div class="btn-group pull-right">
			<a href="javascript: history.go(-1)" class="btn btn-default">
				<span class="glyphicon glyphicon-arrow-left"></span> Back
			</a>
		</div>
	</div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Name</th>
				<td>{{ firm.name }}</td>
            </tr>
            <tr>
                <th>Streetaddress</th>
				<td>{{ firm.streetAddress }}</td>
            </tr>
			<tr>
				<th>City</th>
				<td>{{ firm.city.name }}</td>
			</tr>
			<tr>
				<th>Titles</th>
				<td>
					{% for tfr in firm.titleFirmroles %}
						{% set title = tfr.title %}
						{{tfr.firmrole.name}}: {{ title.title }}<br/>
					{% endfor %}
				</td>
			</tr>
            <tr>
                <th>Startdate</th>
				<td>{{ firm.startDate }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
				<td>{{ firm.endDate }}</td>
            </tr>
            <tr>
                <th>Finalcheck</th>
                <td>{% if firm.finalcheck %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
