{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>{{ firm.name }}</h1>
    <div class="row">
        <div class="col-sm-6 text-left">
            {% if previous %}
                Previous firm: <a href="{{ path('firm_show', {'id': previous.id }) }}">{{ previous }}</a>
            {% endif %}
        </div>
        <div class="col-sm-6 text-right">
            {% if next %}
                Next firm: <a href="{{ path('firm_show', {'id': next.id }) }}">{{ next }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="javascript: history.go(-1)" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ firm.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ firm.name }}</td>
            </tr>
            <tr>
                <th>Street address</th>
                <td>{{ firm.streetAddress }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ firm.city.name }}</td>
            </tr>
            <tr>
                <th>Start date</th>
                <td>{% if firm.startDate %}{{ firm.startDate|date('Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End date</th>
                <td>{% if firm.endDate %}{{ firm.endDate|date('Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titles</th>
                <td>                        
                    <p>There are {{ firm.titleFirmroles|length }} titles associated with this firm.</p>
                    <table class="table table-bordered table-condensed table-hover table-striped tablesorter" id="firmRoles">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Title</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tfr in firm.getTitleFirmroles %}
                                {% set title = tfr.title %}
                                <tr>
                                    <td>{{tfr.firmrole.name}}</td>
                                    <td><a href="{{ path('title_show', {'id': title.id}) }}">{{ title.title }}</a></td>
                                    <td>{{ title.pubdate }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    {% include 'NinesFeedbackBundle:Comment:comment-interface.html.twig' with { 'entity': firm } %}				

{% endblock %}

{% block styles %}
    <style type="text/css">
        /* tables */
        table.tablesorter thead tr {
            white-space: nowrap;
        }
        table.tablesorter thead tr .header:after {
            content: ' ↕';
        }
        table.tablesorter thead tr .headerSortUp:after {
            content: ' ↑';
        }
        table.tablesorter thead tr .headerSortDown:after {
            content: ' ↓';
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower/tablesorter/jquery.tablesorter.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#firmRoles").tablesorter({
                sortList: [[0, 0], [1, 0], [2, 0]],
            });
        });
    </script>
{% endblock %}
