<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            {% include 'AppBundle:partials:sortable.html.twig' with {
                'pagination': firms,
                'header': 'Id',
                'field': 'e.id',
            } %}
            {% include 'AppBundle:partials:sortable.html.twig' with {
                'pagination': firms,
                'header': 'Name',
                'field': ['e.name', 'e.startDate'],
            } %}
            <th>Street address</th>
            {% include 'AppBundle:partials:sortable.html.twig' with {
                'pagination': firms,
                'header': 'City',
                'field': ['g.name', 'e.name'],
            } %}
            {% include 'AppBundle:partials:sortable.html.twig' with {
                'pagination': firms,
                'header': 'Start date',
                'field': ['e.startDate', 'e.name'],
            } %}
            {% include 'AppBundle:partials:sortable.html.twig' with {
                'pagination': firms,
                'header': 'End date',
                'field': ['e.endDate', 'e.name'],
            } %}
        </tr>
    </thead>
    <tbody>
        {% for firm in firms %}
            <tr>
                <td>{{ firm.id }}</td>
                <td>
                    <a href="{{ path('firm_show', { 'id': firm.id }) }}">
                        {{ firm.name }}
                    </a>
                </td>
                <td>{{ firm.streetAddress }}</td>    
                <td>{{ firm.city }}</td>
                <td>{% if firm.startDate %}{{ firm.startDate|date('Y') }}{% endif %}</td>
                <td>{% if firm.endDate %}{{ firm.endDate|date('Y') }}{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
