{% embed 'partials/table.html.twig' %}
    {% block thead %}
        <tr>
            {% include 'partials/sortable.html.twig' with {
                'pagination': titles,
                'header': 'ID',
                'field': 'e.id',
            } %}
            {% include 'partials/sortable.html.twig' with {
                'pagination': titles,
                'header': 'Title',
                'field': ['e.title', 'e.pubdate'],
            } %}
            <th>Contributors</th>
            <th>Firms</th>
            {% include 'partials/sortable.html.twig' with {
                'pagination': titles,
                'header': 'Year',
                'field': ['e.pubdate', 'e.title'],
            } %}
            {% include 'partials/sortable.html.twig' with {
                'pagination': titles,
                'header': 'Edition',
                'field': ['e.editionNumber', 'e.pubdate', 'e.title'],
            } %}
        </tr>
    {% endblock %}
    {% block tbody %}
        {% for title in titles %}
            <tr>
                <td>
                    <a href="{{ path('title_show', { 'id': title.id }) }}">
                        {{ title.id }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('title_show', { 'id': title.id }) }}">
                        {{ title.title }}
                    </a>
                </td>
                <td>
                    {% for tr in title.titleRoles|slice(0,title_index_authors) %}
                        {% set person = tr.person %}
                        <a href="{{ path('person_show', {'id': person.id}) }}">{{ person.lastName }}
                            , {{ person.firstName }}</a>
                        ({{ tr.role }})
                        <br/>
                    {% endfor %}
                    {% if title.titleRoles|length > title_index_authors %}and {{ title.titleRoles|length - title_index_authors }} more.{% endif %}
                </td>
                <td>
                    {% for tfr in title.titleFirmRoles|slice(0,title_index_authors) %}
                        {% set firm = tfr.firm %}
                        <a href="{{ path('firm_show', {'id': firm.id}) }}">{{ firm.name }}</a>
                        ({{ tfr.firmrole }})
                        <br/>
                    {% endfor %}
                    {% if title.titleFirmRoles|length > title_index_authors %}and {{ title.titleFirmRoles|length - title_index_authors }} more.{% endif %}
                </td>
                <td>{{ title.pubdate }}</td>
                <td>{{ title.editionNumber }}</td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
