{{ author_string }}. {{ citation_title }}{%- if title.title matches '{[^[:punct:]]$}' %}.{% endif %} <i>The Women's Print History Project</i>, 2019,
{{ type }} ID {{ record.id }}, <a href='{{ url }}'>{{ url }}</a>. Accessed {{ null|date('Y-m-d') }}.