{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>{{ postCategory.label }}</h1>
{% endblock %}

{% block body %}
    <div class="gallery">
        {% for post in posts %}
            {% embed 'partial/card.html.twig' %}
                {% set link = path('nines_blog_post_show', {'id': post.id}) %}
                {% block excerpt %}
                    {{ post.excerpt|raw }}
                {% endblock %}
                {% block heading %}
                    {{ post.title }}
                {% endblock %}
                {% block caption %}
                    <a href="{{ path('nines_blog_post_category_show', {'id': post.category.id}) }}"
                       class="link link__label">
                        {{ post.category }}
                    </a>
                    {% if is_granted('ROLE_BLOG_ADMIN') %}
                        <span class="status-label">{{ post.status.label }}</span>
                    {% endif %}
                {% endblock %}
                {% block footer %}
                    <p>Posted {{ post.created|date('Y-m-d H:i:s') }} by {{ post.user.fullname }}</p>
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>


    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
