{# Partial for creating a basic table. #}

{% set isHorizontal = block('thead') is not defined %}

{% if entities is defined %}
    {% set tblPagination %}
        {% include 'partial/count.html.twig' %}
        <div class="navigation">
            {{ knp_pagination_render(entities) }}
        </div>
    {% endset %}
{% endif %}


<div class="tbl-container">
    <div class="tbl-info tbl-info-header">
        {{ tblPagination ?? null }}
    </div>
    <div class="tbl-overflow">
        <table class="table{% if not(isHorizontal) %} table-hover table-striped{% endif %}">
            {% if block('thead') is defined %}
                <thead>
                {{ block('thead') }}
                </thead>
            {% endif %}
            {% if block('tbody') is defined %}
                <tbody>
                {{ block('tbody') }}
                </tbody>
            {% endif %}
        </table>
    </div>


    <div class="tbl-info tbl-info-footer">
        {% if export is defined %}
            {{ export|raw }}
        {% endif %}
        {{ tblPagination ?? null }}
    </div>
</div>

