{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Search</h1>
	<p>Search for publications by title, author, or firm.</p>
    {% if titles|length > 0 %}
        <p class="count">
            Displaying {{ titles|length }} titles of {{ titles.getTotalItemCount }} total.
        </p>
    {% endif %}	
{% endblock %} 

{% block body %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<input type="submit" value="Search" class="btn btn-primary" />
		</div>
	</div>	
	{{ form_end(form) }}

	{% if titles|length > 0 %}

		{% for title in titles %}

			<p>
				<a href="{{path('title_show', {'id': title.id}) }}">
					{{ title.title|truncate(200, true) }}
				</a><br/>
				{% for tr in title.titleRoles %}
					{% set person = tr.person %}
					{{ tr.role.name }}: 
					<a href="{{path('person_show', {'id': person.id}) }}">
						{{ person.lastName }}, {{ person.firstName }} 
					</a>	
					<br/>
				{% endfor %}
				{% for tfr in title.titleFirmRoles %}
					{% set firm = tfr.firm %}
					{{ tfr.firmrole.name }}: 
					<a href="{{path('firm_show', {'id': firm.id}) }}">
						{{ firm.name }} ({{firm.city.name }}) 
					</a>
					<br/>
				{% endfor %}
			</p>

		{% endfor %}

		<div class="navigation">
			{{ knp_pagination_render(titles) }}
		</div>

	{% endif %}

{% endblock %}
