{% extends 'base.html.twig' %}

{% block title %}ESTC Marc Record List{% endblock %}

{% block pageheader %}
    <h1>ESTC Marc Record List</h1>
    <p class="count">
        Displaying {{ estcMarcs|length }} ESTC Marcs of {{ estcMarcs.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('resource_estc_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Title Search
            </a>
            <a href="{{ path('resource_estc_search_imprint') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Imprint Search
            </a>
        </div>
    </div>

    {% embed 'partials/table.html.twig'
        {% set entities = estcMarcs %}
        {% block thead %}
            <tr>
                <th>Title ID</th>
                <th>Imported</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for estcMarc in estcMarcs %}
                <tr>
                    <td>
                        <a href="{{ path('resource_estc_show', { 'id': estcMarc.titleId }) }}">
                            {{ estcMarc.titleId }}
                        </a>
                    </td>
                    <td>{% if manager.isImported(estcMarc) %} Yes {% else %} No {% endif %}</td>
                    <td>{{ manager.getTitle(estcMarc) }}</td>
                    <td>{{ manager.getAuthor(estcMarc) }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
