{% extends 'base.html.twig' %}

{% block title %}ESTC Marc Record{% endblock %}

{% block pageheader %}
    <h1>ESTC Marc Record</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('resource_estc_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back </a>
            <a href="{{ path('title_marc_import', {'id': estcMarc.titleId}) }}" class="btn btn-default" target="_blank">
                <span class="glyphicon glyphicon-save"></span> Import </a>
        </div>
    </div>
    {% set data = manager.getData(estcMarc) %}

    <details>
        <summary>Control Info</summary>
        <table class="table table-bordered table-condensed table-hover table-striped">
            <tbody>
                {% for field in data|filter(f => f.field < 100) %}
                    <tr>
                        <th style='white-space: normal' data-toggle="popover" data-content='{{ manager.getFieldName(field) }}'>
                            {{ manager.getFieldName(field)|u.truncate(20, '...', false) }} ({{ field }})
                        </th>
                        <td>{{ field.getFieldData() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </details>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Control ID</th>
                <td>
                    {% set controlId = manager.getControlId(data|first) %}
                    {{ controlId }}
                </td>
            </tr>
            <tr>
                <th>Imported</th>
                <td>
                    {% set controlId = manager.getControlId(data|first) %}
                    {% if manager.isImported(controlId) %}Yes{% else %}No{% endif %}
                </td>
            </tr>
            {% for field in data|filter(f => f.field >= 100) %}
                <tr>
                    <th style='white-space: normal' data-toggle="popover" data-content='{{ manager.getFieldName(field) }}'>
                        {{ manager.getFieldName(field)|u.truncate(20, '...', false) }} ({{ field }})
                    </th>
                    <td>{{ field.getFieldData() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
