{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>{{ heading }}</h1>
    {% if titles|length > 0 %}
        Displaying {{ titles|length }} titles of {{ titles.getTotalItemCount }} total that
        that are published before 1800, are not verified, and do not have AAS as a source
    {% else %}
        No titles to display.
    {% endif %}
{% endblock %}

{% block body %}

    {% if titles|length > 0 %}
        {% embed 'partial/table.html.twig' %}
            {% set entities = titles %}
            {% block thead %}
                <tr>
                    {% include 'partial/sortable.html.twig' with {
                        'pagination': titles,
                        'header': 'ID',
                        'field': 'title.id',
                    } %}
                    {% include 'partial/sortable.html.twig' with {
                        'pagination': titles,
                        'header': 'Title',
                        'field': ['title.title', 'title.pubdate'],
                    } %}
                    <th>Attempted Verification</th>
                    <th>Verified</th>
                    {% include 'partial/sortable.html.twig' with {
                        'pagination': titles,
                        'header': 'Pub Date',
                        'field': ['title.pubdate', 'title.title'],
                        'class': 'numeric'
                    } %}
                    {% include 'partial/sortable.html.twig' with {
                        'pagination': titles,
                        'header': 'First Pub Date',
                        'field': ['title.dateOfFirstPublication', 'title.pubdate', 'title.title'],
                        'class': 'numeric'
                    } %}
                </tr>
            {% endblock %}

            {% block tbody %}
                {% for title in titles %}
                    <tr>
                        <td>
                            <a href="{{ path('title_show', { 'id': title.id }) }}">
                                {{ title.id }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('title_show', { 'id': title.id }) }}">
                                {{ title.title }}
                            </a>
                        </td>
                        <td>{% if title.finalattempt %}Yes{% else %}No{% endif %}</td>
                        <td>{% if title.finalcheck %}Yes{% else %}No{% endif %}</td>
                        <td>{{ title.pubdate }}</td>
                        <td>{{ title.dateOfFirstPublication }}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endif %}

{% endblock %}
