
{#

<div class="btn-toolbar">
    <div class="btn-group pull-right">
        <a href="javascript: history.go(-1)" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        </a>
    </div>
</div>

#}

<table class="table">
    <tbody>
        <tr>
            <th>Geoname ID</th>
            <td>{{ geoname.geonameid }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ geoname.name }}</td>
        </tr>
        <tr>
            <th>Titles</th>
            <td>
                <a href="{{ path('geonames_titles', {'id': geoname.geonameid}) }}">
                    {{ titles.getTotalItemCount }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Firms</th>
            <td>
                <a href="{{ path('geonames_firms', {'id': geoname.geonameid}) }}">
                    {{ geoname.firms | length }}
                </a>
            </td>
        </tr>
        <tr>
            <th>People</th>
            <td>
                <a href="{{ path('geonames_people', {'id': geoname.geonameid}) }}">
                    Born: {{ geoname.peopleBorn | length }}, Died: {{ geoname.peopleDied | length }}
                </a>
            </td>
        </tr>
    </tbody>
</table>
