{% embed 'partials/table.html.twig' %}
    {% set entities = related_titles %}
    {% block thead %}
        <tr>
            <th>Title</th>
            <th>Relationship</th>
            <th>Title</th>
        </tr>
    {% endblock %}
    {% block tbody %}
        {% for related_title in related_titles %}
            <tr>
                <td>
                    <a href='{{ path('title_show', {'id': related_title.sourceTitle.id}) }}'>
                        {{ related_title.sourceTitle }}
                    </a>
                </td>
                <td>
                    <a href='{{ path('title_relationship_show', {'id': related_title.titleRelationship.id}) }}'>
                        {{ related_title.titleRelationship }}
                    </a>
                </td>
                <td>
                    <a href='{{ path('title_show', {'id': related_title.relatedTitle.id}) }}'>
                        {{ related_title.relatedTitle }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
